<div class="container">
  <div class="row">
    <div *ngFor="let pokemon of pokemonList" class="col s6 m4">
      <div class="card horizontal" pokemonBorderCard (click)="goToPokemon(pokemon)">
        <div class="card-image">
          <img [src]="pokemon.picture" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ pokemon.name }}</p>
            <p>
              <small>{{ pokemon.created | date: "dd/MM/YYYY" }}</small>
            </p>
            <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">{{type}}</span>
          </div>
          <div class="card-action">
            <span class="white-text light-green darken-4 badge col" data-badge-caption="HP">{{ pokemon.hp }}</span>
            <span class="white-text orange darken-4 badge col" data-badge-caption="CP">{{ pokemon.cp }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>