.example-card {
  max-width: 400px;
  .img{
    max-width: 150px;
  }
}

.example-header-image {
  background-image: url('https://www.shareicon.net/data/512x512/2016/10/18/844159_game_512x512.png');
  background-size: cover;
}